
/* Starts CSS Resets */

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address,big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}

/* End CSS Resets */


/*-----------------------------------------*/
/* Whole Page */
/*-----------------------------------------*/

body {
	font-size: 12px;
	line-height: 18px;
	font-family: arial, verdana, sans-serif;
	text-decoration: none;
	color: #555555;
	background-color: #F6F4EA;
	}

ul
{
    list-style-type: none;
}


/*-----------------------------------------*/
/* Default Links */
/*-----------------------------------------*/
a:link {
		color: #776D5E;
		text-decoration:none;
		}
	
a:visited {
		color: #776D5E;
		text-decoration:none;
		}

a:hover {
		color: #BED4C8;
		text-decoration:none;
		}
	
a:active {
		color: #BED4C8;
		text-decoration:none;
		}
/*-----------------------------------------*/


/*-----------------------------------------*/
/* Div header */
/*-----------------------------------------*/
.header {
		background-color:#BED4C8;
		}
.header h1 {
		font-size: 36px;
		font-weight:700;
		line-height: 42px;
		text-align:center;
		
		}
/*-----------------------------------------*/


/*-----------------------------------------*/
/*Div blogpost */
/*-----------------------------------------*/
.blogpost h2 {
		font-size: 16px;
		font-weight:700;
		line-height:20px;
		}

.blogpost h3 {
		font-style:italic;
			}
.blogpost br {
			line-height:26px;
			}
.blogpost {
		border-style:solid;
		border-right-color:#BED4C8;
		border-right-width:2px;
		
		}			
		
/*-----------------------------------------*/		
/* Div links */
/*-----------------------------------------*/
.links ul li{
    display: inline;
	float: right;
	padding: 2px
		}
.links a:link {
		color: #776D5E;
		text-decoration:underline;
		}
	
.links a:visited {
		color: #776D5E;
		text-decoration:underline;
		}

.links a:hover {
		color: #BED4C8;
		text-decoration:underline;
		}
	
.links a:active {
		color: #BED4C8;
		text-decoration:underline;
		}
/*-----------------------------------------*/

/*-----------------------------------------*/
/* Div rightbar */
/*-----------------------------------------*/


.rightbar h1 {
		font-size: 14px;
		font-weight:700;
		line-height:20px;
		}
		
.rightbar a:link {
		font-weight:700;
		}
.about p {
		font-style:italic;
		}